/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */
body{
	background-color: #202020;
	color: #ddd;
}

div.panel {
	background-color: #333333;
	border-color: #333333;
	
}

h1, h2, h3, h4, h5, h6 {
	color: #ccc;
}

.panel h4 {
	color:#ccc;
}

.subheader { 
	color: #ccc;
}



.nav-bar > li.active > a {
	color: #000;
	font-weight: bold;
}
/* -----------------------------------------
   Page Name 1
----------------------------------------- */




/* -----------------------------------------
   Page Name 2
----------------------------------------- */


